SwitchDataBaseWebService/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSComercio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSComercio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArticles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Articles" nillable="true" type="tns:Articles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticles" nillable="true" type="tns:ArrayOfArticles" />
  <xs:complexType name="Articles">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stock" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Articles" nillable="true" type="tns:Articles" />
</xs:schema>