SwitchDataBaseWebService/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58732/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSComercio" />
  <xs:element name="AddWSArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Price" type="xs:double" />
        <xs:element minOccurs="0" name="Stock" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWSArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWSArticleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditaWSArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Price" type="xs:double" />
        <xs:element minOccurs="0" name="Stock" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditaWSArticleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowWSArticles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowWSArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSComercio" minOccurs="0" name="ShowWSArticlesResult" nillable="true" type="q1:ArrayOfArticles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>